.game {
  display: grid;
  gap: 16px;
  grid-template:
    "board clock state" min-content
    "fen z state" auto
    "buttons x state" auto
    "y x state" min-content / min-content min-content auto;
}
